<div class="container-fluid h-100">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <div class="jumbotron">
        <div class="panel-heading">
          <h3 class="panel-title">{{loginFormHeading | uppercase}}</h3>
        </div>
        <div class="panel-body">
          <form role="form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
              <div class="form-group">
                <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus formControlName="email">
                <div *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid">
                  <span *ngIf="loginForm.get('email').hasError('required')">This field is required!!!</span>
                </div>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Password" name="password" type="password" formControlName="password">
                <div *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid">
                  <span *ngIf="loginForm.get('password').hasError('required')">This field is required!!!</span>
                  <span *ngIf="loginForm.get('password').hasError('minLength')">Minimum 8 characters required</span>
                </div>
              </div>
              <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>